<footer class="nunito-font">
  <section class="navigation align_sections">
    <div>
      <p class="caption">Jobs</p>
      <a href="/jobs">Software Engineer</a>
      <a href="/jobs">Frontend Engineer</a>
      <a href="/jobs">Codeable Graduate</a>
      <a href="/jobs">Backend Engineer</a>
      <a href="/jobs">Meme Master</a>
      <a href="/jobs">University Dropouts</a>
    </div>
    <div>
      <p class="caption">Company</p>
      <a href="/jobs">Blog</a>
      <a href="/jobs">Carreers</a>
      <a href="/jobs">Privacy</a>
      <a href="/jobs">About</a>
    </div>
    <div>
      <p class="caption">Support</p>
      <a href="/jobs">Documentation</a>
      <a href="/jobs">Security</a>
      <a href="/jobs">Mobility Guide</a>
      <a href="/faq">FAQs</a>
    </div>
    <div>
      <p class="caption">Legal</p>
      <a href="/jobs">Terms of Service</a>
      <a href="/jobs">Privacy Policy</a>
      <a href="/jobs">Cookie Information</a>
      <a href="/jobs">GDPR Commitment</a>
    </div>
  </section>
  <section class="trademark">
    <p>©2020 Get That Job</p>
  </section>
</footer>
