<header class="nunito-font">
  <a class="home" href="/">
    <img src="assets/profile.png" alt="" />
    <p>GetThatJob</p>
  </a>
  <nav class="navigation">
    <a href="/help">Help</a>
    <a href="/companies">Companies</a>
    <a href="/jobs">Jobs</a>
    <a class="sign-in" href="/login">Sign in</a>
    <a class="create_account" href="/signup">Create an Account</a>
  </nav>
</header>
