<section class="reg-form nunito-font">
  <h1 class="login-form-title">Complete your signup</h1>
  <form class="reg-form-box login-form">
    <label class="login-form-label" for="signup-name">Name</label>
    <input
      class="login-form-input-box reg-form-box-text nunito-font"
      type="text"
      name="signup-name"
      id="signup-name"
      placeholder="Large Input"
      required
    />
    <p class="reg-form-subtext">Use your real first and last name</p>
    <label class="login-form-label" for="signup-profession"
      >Professional Description</label
    >
    <input
      class="login-form-input-box reg-form-box-text nunito-font"
      type="text"
      name="signup-profession"
      id="signup-profession"
      placeholder="e.g Software Engineer, Mememaster, Pokemaster"
      required
    />
    <p class="reg-form-subtext">Short an specific text about what you do</p>
    <label class="login-form-label" for="signup-work-exp"
      >Work Experience</label
    >
    <input
      class="login-form-input-box reg-form-box-text nunito-font big-input-box"
      type="text"
      name="signup-work-exp"
      id="signup-work-exp"
      placeholder="Worked 6 years in a bitcoin farm until I decided to change my life...."
      required
    />
    <p class="reg-form-subtext">
      Tells us about your work experience, what did you do before joining this
      top community?
    </p>
    <label class="login-form-label" for="signup-joke">Tell us a joke</label>
    <input
      class="login-form-input-box reg-form-box-text nunito-font big-input-box"
      type="text"
      name="signup-joke"
      id="signup-joke"
      placeholder="Q: Why do chemists enjoy working with ammonia? A: Because it's pretty basic stuff."
      required
    />
    <p class="reg-form-subtext">
      Tells us about your work experience, what did you do before joining this
      top community?
    </p>

    <p class="login-form-label">Work Type preference</p>
    <div class="reg-form-pref-box">
      <input
        type="radio"
        name="work-type"
        id="fulltime"
        value="fulltime"
        checked
      />
      <label class="reg-form-subtext" for="fulltime">Full-Time</label>
      <input type="radio" name="work-type" id="parttime" value="parttime" />
      <label class="reg-form-subtext" for="parttime">Part-Time</label>
      <input type="radio" name="work-type" id="contract" value="contract" />
      <label class="reg-form-subtext" for="contract">Contract</label>
      <input type="radio" name="work-type" id="forfree" value="forfree" />
      <label class="reg-form-subtext" for="forfree">For Free</label>
    </div>
    <div class="reg-form-terms-box">
      <input type="checkbox" name="allowed-ads" id="allowed-ads" />
      <label class="reg-form-subtext" for="allowed-ads">
        I wish to receive regular dad jokes in my email
      </label>
    </div>
    <div class="reg-form-terms-box">
      <input type="checkbox" name="term-of-use" id="term-of-use" required />
      <label class="reg-form-subtext" for="term-of-use">
        I wish that you sell my data and give me nothing in exchange
      </label>
    </div>
    <button class="reg-form-button nunito-font" type="submit">
      Create Account
    </button>
  </form>
</section>
