<footer>
  <section class="navigation">
    <div>
      <p class="caption">Jobs</p>
      <a href="#">Software Engineer</a>
      <a href="#">Frontend Engineer</a>
      <a href="#">Codeable Graduate</a>
      <a href="#">Backend Engineer</a>
      <a href="#">Meme Master</a>
      <a href="#">University Dropouts</a>
    </div>
    <div>
      <p class="caption">Company</p>
      <a href="#">Blog</a>
      <a href="#">Carreers</a>
      <a href="#">Privacy</a>
      <a href="#">About</a>
    </div>
    <div>
      <p class="caption">Support</p>
      <a href="#">Documentation</a>
      <a href="#">Security</a>
      <a href="#">Mobility Guide</a>
      <a href="#">FAQs</a>
    </div>
    <div>
      <p class="caption">Legal</p>
      <a href="#">Terms of Service</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Cookie Information</a>
      <a href="#">GDPR Commitment</a>
    </div>
  </section>
  <section class="trademark">
    <p>©2020 Get That Job</p>
  </section>
</footer>
