<section class="login-page nunito-font">
  <h1 class="login-form-title">Forgot Password</h1>
  <form class="login-form">
    <label class="login-form-label" for="login-email">Email</label>
    <input
      class="login-form-input-box"
      type="email"
      name="login-email"
      id="login-email"
      placeholder="youremail@email.com"
      required
    />
    <button class="login-form-button" type="submit">
      Submit
    </button>
    <a class="login-formm-link" href="/reset-success">Send recovery email</a>
  </form>
</section>
