<div class="hero">
  <div class="hero-text nunito_font">
    <h1 class="hero-title">The place where you&nbsp;get&nbsp;that&nbsp;job</h1>
    <p class="hero-paragraph">
      With our Machine learning algorithm you will get that job in no time, We
      promise you! Just give us the money and we will take care of it.
    </p>

    <a class="hero-button uppercase" href="#">Create your account&nbsp;now</a>
  </div>
  <img class="hero-img" src="assets/image-1.png" alt="Girl surfing internet." />
</div>
