<section class="job_description">
  <div class="find_job">
    <p class="caption">Find your next tech job</p>
    <p class="description">
      Our Machine learning algorithm is so good that it’s even illegal in some
      countries. Join us to use our barelly legal algorithm that is actually a
      group of interns that work on our basement. We have a job for you, no
      matter your background or previous experience. Is sending random memes
      through chat your only skill? That’s ok, we got you, our Rock Star Meme
      Curator role is here for you.
    </p>
  </div>
  <div class="position">
    <div class="left">
      <img src="assets/A_logo.png" alt="A logo" />
      <p class="caption">Software Engineer</p>
      <div class="location">
        <p>Able - Lima</p>
        <img src="assets/peru_flag.png" alt="peru flag" />
      </div>
    </div>
    <div class="right">
      <img src="assets/dolar.svg" alt="dolar" />
      <p class="technology">ReactJS</p>
      <p class="date_publish">Today</p>
    </div>
  </div>
  <div class="position">
    <div class="left">
      <img src="assets/A_logo.png" alt="A logo" />
      <p class="caption">Software Engineer</p>
      <div class="location">
        <p>Able - Lima</p>
        <img src="assets/peru_flag.png" alt="peru flag" />
      </div>
    </div>
    <div class="right">
      <img src="assets/dolar.svg" alt="dolar" />
      <p class="technology">ReactJS</p>
      <p class="date_publish">Today</p>
    </div>
  </div>
  <div class="position">
    <div class="left">
      <img src="assets/A_logo.png" alt="A logo" />
      <p class="caption">Software Engineer</p>
      <div class="location">
        <p>Able - Lima</p>
        <img src="assets/peru_flag.png" alt="peru flag" />
      </div>
    </div>
    <div class="right">
      <img src="assets/dolar.svg" alt="dolar" />
      <p class="technology">ReactJS</p>
      <p class="date_publish">Today</p>
    </div>
  </div>
</section>
