<div class="job-detail">
  <div class="description">
    <a class="job-more" href="#"
      ><img src="assets/Vector-arrow.png" alt="vector arrow" /> See more
      jobs
    </a>
    <p class="posted">Posted Feb 24</p>
    <h1>Software Engineer</h1>
    <div class="job-lenguage">
      <button class="button-lenguage">
        ReactJs
      </button>
      <button class="button-lenguage">
        Js
      </button>
      <button class="button-lenguage">
        ReactJs
      </button>
      <button class="button-lenguage">
        Ruby
      </button>
      <button class="button-lenguage">
        Ruby On Rails
      </button>
      <button class="button-lenguage">
        Buzz word
      </button>
    </div>
    <p>
      Able is seeking a Full-Stack Software Engineer. You will work on a
      variety of challenging, creative and innovative products that are part
      of our rapidly growing portfolio. Your experience will serve as a
      foundation for your growth at our company and we expect that you will
      keep developing your existing skills by growing your knowledge in
      areas you had never envisioned before.
    </p>
    <h2>What will be expected of you:</h2>
    <ul>
      <li>
        Build server-side applications as well as RESTful APIs with Ruby and
        Rails
      </li>
      <li>
        Build client-side applications with React, Redux, HTML5 and
        CSS3/SASS
      </li>
      <li>Collaborate with a super talented team of Engineers</li>
      <li>
        Develop and exercise your understanding of UX & UI design best
        practices
      </li>
      <li>Use the test-driven development paradigm</li>
      <li>
        Build server-side applications as well as RESTful APIs with Ruby and
        Rails
      </li>
    </ul>
    <h2>What we are looking for:</h2>
    <ul>
      <li>
        2+ years professional experience as a software engineer or
        equivalent
      </li>
      <li>
        Thorough and up-to-date knowledge of JavaScript and/or Ruby/Rails
      </li>
      <li>
        Understanding of MVC architectures and databases such as PostgreSQL
        and Redis
      </li>
      <li>
        Sufficient HTML and CSS skills to be able to work with designers to
        transform prototypes
      </li>
      <li>
        Experience building modern, responsive and interactive web
        applications using frameworks such as React
      </li>
      <li>Professional proficiency in written and spoken English</li>
    </ul>
    <h2>About Able:</h2>
    <p>
      Able builds technology products in a portfolio model. We believe that
      people, teams, and processes are more important than the ideas
      themselves, so we’ve focused on bringing great people together, and
      investing in their growth.
    </p>
    <p>
      We’ve built products in a variety of industries. Everything from media
      to finance to toys to healthcare. Sometimes we work with management
      teams to help their businesses grow faster or unlock value using
      technology. Other times we start or buy businesses outright. Each
      time, we look for opportunities to leverage technology built at the
      portfolio-level to drive value faster.
    </p>
    <p>
      We believe that a diverse team brings extraordinary success and we
      have created a work environment geared towards work/life balance and
      happiness. Able is committed to inclusion and diversity and is an
      equal opportunity employer. All applicants will receive consideration
      without regard to race, color, religion, gender, gender identity,
      sexual orientation, national origin, disability, or veteran status.
    </p>
    <div class="job-share">
      <button class="job-button">Get this job</button>
      <div class="job-social">
        <span>Share this job:</span>
        <a><img src="assets/Vector-fb.png" alt="facebook logo" /></a>
        <a><img src="assets/Vector-in.png" alt="linkedin logo" /></a>
        <a><img src="assets/Vector-twt.png" alt="twitter logo" /></a>
      </div>
    </div>
  </div>
  <div class="job-logo">
    <img class="job-logo-able" src="assets/A_logo.png" alt="able logo" />
    <h2 class="job-title-able">Able.co</h2>
    <span class="map-market">
      <i class="fa fa-map-marker"></i>
      <a class="job-direction" href="#">Lima, Peru</a>
    </span>
    <span class="external-link">
      <i class="fa fa-external-link"></i>
      <a class="job-website" href="#">Open Website</a>
    </span>
    <p class="job-posted">Posted 10 Jobs</p>
    <button class="job-button">Get this job</button>
    <span class="arrow-right">
      <a class="job-view" href="#">View All Jobs</a>
      <i class="fa fa-arrow-right"></i>
    </span>
 
  </div>
</div>
  