<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/header.css" />
    <link rel="stylesheet" href="styles/hero.css" />
    <link rel="stylesheet" href="styles/testimonial.css" />
    <link rel="stylesheet" href="styles/touch.css" />
    <link rel="stylesheet" href="styles/footer.css" />
  </head>
  <body>
    <!-- This will be on all pages -->
    <%= erb :header %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
