<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i&display=swap" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css?family=Overpass:300,300i,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/header.css" />
    <link rel="stylesheet" href="styles/hero.css" />
    <link rel="stylesheet" href="styles/testimonial.css" />
    <link rel="stylesheet" href="styles/job_description.css" />
    <link rel="stylesheet" href="styles/touch.css" />
    <link rel="stylesheet" href="styles/footer.css" />
    <link rel="stylesheet" href="styles/jobs.css" />
    <link rel="stylesheet" href="styles/job_detail.css" />
<<<<<<< HEAD
    <link rel="stylesheet" href="styles/login_page.css" />
=======

>>>>>>> 5f5982516ff3a3064beed7580c313d844e2e90c1
  </head>
  <body>
    <!-- This will be on all pages -->
    <%= erb :header %>
    <main>
      <%= yield %>
    </main>
    <%= erb :footer %>
  </body>
</html>
