<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <!-- Third-party links -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700|Overpass:300,300i,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Common link -->
    <link rel="stylesheet" href="styles/common.css" />

    <!-- Page links -->
    <link rel="stylesheet" href="styles/index.css" />
    <link rel="stylesheet" href="styles/jobs.css" />
    <link rel="stylesheet" href="styles/job_detail.css" />
    <link rel="stylesheet" href="styles/login_page.css" />
    <link rel="stylesheet" href="styles/signup_page.css">
    <link rel="stylesheet" href="styles/complete_signup.css">
    <link rel="stylesheet" href="styles/forgot_password.css">
    <link rel="stylesheet" href="styles/reset_success.css">
    <link rel="stylesheet" href="styles/faqs.css">
  </head>
  <body>
    <!-- This will be on all pages -->
    <%= erb :'common_components/header' %>
    <main>
      <%= yield %>
    </main>
    <%= erb :'common_components/footer' %>
  </body>
</html>
