<section class="login-page nunito-font">
  <h1 class="login-form-title">Login</h1>
  <form class="login-form">
    <label class="login-form-label" for="login-email">Email</label>
    <input
      class="login-form-input-box"
      type="email"
      name="login-email"
      id="login-email"
      placeholder="youremail@email.com"
      required
    />
    <label class="login-form-label" for="login-password">Password</label>
    <input
      class="login-form-input-box"
      type="password"
      name="login-password"
      id="login-password"
      placeholder="*******"
      required
    />
    <button class="login-form-button" type="submit">
      Submit
    </button>
    <a class="login-formm-link" href="/forgot_password">Forgot password?</a>
  </form>
</section>
