<section class="login-page nunito-font">
  <h1 class="login-form-title">Login</h1>
  <form class="login-form">
    <label for="login-email">Email</label>
    <input
      class="login-email"
      type="email"
      name="login-email"
      id="login-email"
      placeholder="youremail@email.com"
      required
    />
    <label for="login-password">Password</label>
    <input
      class="login-password"
      type="password"
      name="login-password"
      id="login-password"
      placeholder="*******"
      required
    />
    <button class="form-button" type="submit">
      Submit
    </button>
    <a href="/"></a>
  </form>
</section>
