<section class="login-page">
  <h1>Login</h1>
  <form class="login-form">
    <label for="login-email">Email</label>
    <input
      class="login-email"
      type="email"
      name="login-email"
      placeholder="youremail@email.com"
      required
    />
    <label for="login-password">Password</label>
    <input
      class="login-password"
      type="password"
      name="login-password"
      placeholder="*******"
      required
    />
    <button class="form-button" type="submit">
      Submit
    </button>
  </form>
</section>
