<section class="reset-success nunito-font text-center">
  <h1 class="reset-success-title">Recovery email sent!</h1>
  <p class="reset-success-paragraph">
    You should receive instructutions to reset your password in your email
  </p>
</section>
