<section class="login-page nunito-font">
  <h1 class="login-form-title">Sign Up</h1>
  <form class="login-form">
    <label class="login-form-label" for="signup-email">Email</label>
    <input
      class="login-form-input-box"
      type="email"
      name="login-email"
      id="signup-email"
      placeholder="youremail@email.com"
      required
    />
    <label class="login-form-label" for="signup-password">Password</label>
    <input
      class="login-form-input-box"
      type="password"
      name="signup-password"
      id="signup-password"
      placeholder="*******"
      required
    />
    <label class="login-form-label" for="signup-confirm">Confirm Password</label>
    <input
      class="login-form-input-box"
      type="password"
      name="signup-password"
      id="signup-confirm"
      placeholder="*******"
      required
    />
    <button class="login-form-button" type="submit">
      Submit
    </button>
    <a class="login-formm-link" href="/login_page">Sign in</a>
  </form>
</section>
