<section class="testimonials">
  <img
    class="left-arrow"
    src="assets/left-arrow.svg"
    alt="Move-to-left arrow"
  />
  <div class="testimonial overpass-font black text-center">
    <img src="assets/Img-Girl-Flowers.png" alt="Girl wearing a flowers crown" />
    <p class="testimonial-text">
      “Amazing experience, I love it a lot. Thanks to the team I got that Job,
      great!”
    </p>
    <h1 class="testimonial-author">Lassy Chester</h1>
    <h2 class="testimonial-author-position">Art Director</h2>
  </div>
  <img
    class="right-arrow"
    src="assets/left-arrow.svg"
    alt="Move-to-rigth arrow"
  />
</section>
