<section>
  <div class="testimonial normal_font">
    <img src="assets/Img-Girl-Flowers.png" alt="Girl wearing a flowers crown" />
    <p>
      “Amazing experience, I love it a lot. Thanks to the team I got that Job,
      great!”
    </p>
    <h1>Lassy Chester</h1>
    <h2>Art Director</h2>
  </div>
</section>
