<section class="contact">
      <div class="container">
        <div class="contact-content">
          <div class="contact-title">
            <h1 class="caption">
              CONTACTS
            </h1>
            <p class="sub-caption">
              Get in Touch
            </p>
            <p>
              If you are not sure yet, shoot us a message!
            </p>
          </div>
          <div class="contact-email">
            <p>
              hello@getthatjob.com
            </p>
            <p>
              Galvez 692, 7th Floor. The Board
            </p>
          </div>
        </div>
        <form class="contact-form">
          <input
            class="form-email"
            type="email"
            name="email"
            placeholder="Your Email"
            required
          />
          <input
            class="form-name"
            type="text"
            name="name"
            placeholder="Name"
            required
          />
          <textarea
            class="form-textarea"
            rows="10"
            name="textarea"
            placeholder="Messages"
            required
          ></textarea>
          <br />
          <button class="form-button" type="submit">
            <img src="assets/Shape.png" alt="icon email" />
            Submit Message
          </button>
        </form>
      </div>
    </section>