header {
  display: flex;
  align-items: center;
  padding-top: 34px;
  padding-bottom: 34px;
  justify-content: space-between;
  margin: 0 auto;
}

header .home {
  text-decoration: none;
  display: flex;
  align-items: center;
}

header .home img {
  width: fit-content;
  height: fit-content;
}

header .home p {
  font-weight: bold;
  font-size: 24px;

  color: #000000;
}

header .navigation {
  display: flex;
  align-items: center;
}

header .navigation a {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;

  color: #000000;
  margin-left: 20px;
}

header .navigation a:first-child {
  margin-left: 0px;
}

header .sign-in,
header .create_account {
  font-weight: 800;
  font-size: 13px;

  text-transform: uppercase;

  padding: 3px 10px;

  border-radius: 4px;
}

header .sign-in {
  border: 2px solid #000000;
  color: #000000;
  margin-left: 40px;
}

header .create_account {
  border: 2px solid #3c2dff;
  color: #3c2dff;
}
