.black {
  color: #000000;
}

.text-center {
  text-align: center;
}

.testimonials-box {
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  padding: 5%;
}

.testimonial {
  width: 63%;
}

.testimonial-text {
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -1px;
  margin-top: 0.2em;
}

.testimonial-author {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  margin-top: 0.5em;
}

.testimonial-author-position {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.right-arrow {
  transform: scaleX(-1);
}
